.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0, 0.9);
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 2.0s 2.0s, height 2.0s 2.0s, opacity 2.0s;
}

.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.1s, height 0.1s, opacity 0.1s 0.1s;
}

.popup_inner_image {
  position: absolute;
  justify-content: center;
  align-self: space-around;
  top: 2%;
  width: auto;
  height: 80vh;
  margin: auto;
  border-radius: 10px;
}

.popup_close_image {
  position: absolute;
  right: 0px;
  margin: 10px;
}
