
.ProgressBar {
  width: 100%;
  height: 8px;
  background-color: #726E75;
  border-radius: 5px;
}

.Progress {
  background-color: #17301C;
  height: 100%;
  margin: 0;
  border-radius: 5px;
}

.Title {
  margin-bottom: 32px;
  color: #555;
}
