.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 38%;
  right: 38%;
  top: 30%;
  bottom: 30%;
  margin: auto;
  border-radius: 10px;
  background: white;
}

.popup_inner_creativity_add {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  border-radius: 10px;
  background: white;
}

.popup_inner_creativity_edit {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 10px;
  background: white;
}

.popup_inner_img_crop {
  padding-bottom: 50px;
  display: inline-block;
  height: 85%;
  min-width: 60%;
  max-width: 90%;
  z-index: 5;
  margin: 20px auto;
  border-radius: 2px;
  background: white;
}

.popup_close {
  position: absolute;
  left: 90%;
  margin: auto;
}

.popup_close_creativity_add {
  position: absolute;
  right: 0;
  margin: auto;
}

.popup_close_img_crop {
  margin: 5px;
}
